{% extends "myapp/base.html" %}

{% block title %}Student Result{% endblock %}

{% block content %}

<h2>Student List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Roll</th>
            <th>GPA</th>
            <th>Final Grade</th>
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
        <tr>
            <td>
                <a href="{% url 'detail' student.id %}">
                    {{ student.name }}
                </a>
            </td>
            <td>{{ student.rollno }}</td>
            <td>{{ student.gpa }}</td>
            <td>{{ student.final_grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 <!-- Back Button -->
          <div class="text-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-primary px-4">Back to Home</a>
          </div>
{% endblock %}